body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

div {
  width: 100vw;
  height: 100vh;
}

p{
  margin: 0;
justify-content: center;
}

li{
  list-style-type: none;
}

a, a:hover{
  text-decoration: none;
  }

  .logo{
    width:20%; 
    display: flex;
    align-items: center;
  }

.box-1{
display: flex;
align-items: center;
} 

.box-2{
display: flex;
align-items: center;
/*padding-right: 400px;*/
}

  .box-2 li{
    /*padding: 15px 10px;*/
    font-size: 100%; 
  }

  .box-3{
    display: flex;
    align-items: center;
  }
  
    a {
      text-decoration: none;
  color:black
    }
  
    .black-a{
      color: rgb(0, 0, 0);
    }
  
    .white-a{
      color:white;
    }
  
    #Container-1{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      text-align: center;
      border: solid;
      border-color: rgba(0, 0, 0, 0.066);
     /* border-left: 0px;
      border-right: 0px;*/
      max-height: 19px;
    }

    nav {
      display: flex;
      align-items: center;
    }

    #Container-2{
      display: flex;
      justify-content: center;
      background-color: rgb(5, 5, 5);
      max-height: 80px;
      /*max-width:1440px;*/
    }
    
    ul {
      padding: 0px;
    }
    
    nav ul {
      display: flex;
      margin: 0;
    }
    
    nav li {
      margin: 0;
    }
    
    nav li:last-child {
      margin-right: 0;
    }