*{
  border: px solid rgb(253, 0, 0);
  
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  li{
    list-style-type: none;
  }

  .center-ptext{
    text-align: center;
  }


  #Container1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: solid;
    border-color: rgba(0, 0, 0, 0.066);
    border-left: 0px;
    border-right: 0px;
  }


  .Container2-topnav{
    display: flex;
    flex-direction:row ;
    margin: 0;
    padding: 0;
  }

  #horizontal-list{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  #header__heading-logo{
    max-width : 168px;
  }

  #hl-bx1{
    order: 1;
  }

  #hl-bx2{
    order: 2;
  }

  #hl-bx3{
    order: 3;
  }

  #hl-bx4{
    order: 4;
  }

  nav ul {
    display: flex;
    margin: 0;
  }
  
  nav li {
    margin: 0;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  

  .Container-column{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  }