body {
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #Container1{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    border: solid;
    border-color: rgba(0, 0, 0, 0.066);
    border-left: 0px;
    border-right: 0px;
    height: 8vh;
    text-align: center;
  }


  #Container2{
    display: flex;
    display:inline-flex;
    flex-direction:row ;
    justify-content: center;
    text-align: center;
  }


  .horizontal-list{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
  }


  .Container-column{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  }

  #Info-Nav{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

  }