*{
  border: px solid rgb(253, 0, 0);
  
}


body {
margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .center-ptext{
    text-align: center;
  }


  #Container1{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    border: solid;
    border-color: rgba(0, 0, 0, 0.066);
    border-left: 0px;
    border-right: 0px;
    height: 8vh;
    text-align: center;
  }

  #Container2{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    text-align: center;
  }

  .Container2-topnav{
    justify-content: center;
  }

  .horizontal-list{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
  }

  .Container-column{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  }